<div class="jumbotron center">
  <h1>About US Hacks</h1>
  <p>US Hacks is a compilations of all hackathons in the United States.</p>
  <p>Built and maintained by <a href="http://twitter.com/applerebel">@applerebel</a></p>
</div>