<div class="jumbotron center">
  	<h1>Contact US Hacks</h1>
 	<ul><h2>You can reach out to us by...</h2></ul>
  		<li>Twitter: <a href="http://twitter.com/ushacks">@ushacks</a></p>
		<li>Email: <a href="mailto:hi@ushacks.co">hi@ushacks.co</a></p>
	</ul>
</div>