<!-- Row One -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hacktcnj.jpeg" width="146" length="146">
      <div class="caption">
        <h3>HackTCNJ</h3>
        <p>Feb 22nd - 23rd in Ewing, NJ.</p>
        <p><a href="http://hacktcnj.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/hacktcnj" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/citrushack.png" width="146" length="146">
      <div class="caption">
        <h3>Citrus Hack</h3>
        <p>February 28th - March 2nd in Riverside, CA.</p>
        <p><a href="http://citrushack.com" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hacknc.png" width="146" length="146">
      <div class="caption">
        <h3>HackNC</h3>
        <p>March 1st - 2nd in Chapel Hill, NC.</p>
        <p><a href="http://hacknc.us" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/HackNC14" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Row Two -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hacksc.png" width="146" length="146">
      <div class="caption">
        <h3>HackSC</h3>
        <p>March 7th - March 9th in Los Angeles.</p>
        <p><a href="http://hacksc.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/gohacksc" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackpr.png" width="146" length="146">
      <div class="caption">
        <h3>HackPR</h3>
        <p>March 29th - March 30th in Mayagüez, PR.</p>
        <p><a href="http://hackpr.io" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/HackPuertoRico" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/tribehacks.jpg" width="146" length="146">
      <div class="caption">
        <h3>TribeHacks</h3>
        <p>March 7th - March 9th in Williamsburg, VA.</p>
        <p><a href="http://tribehacks.com" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Row Three -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/bitcamp.png" width="146" length="146">
      <div class="caption">
        <h3>Bitcamp</h3>
        <p>April 4th - April 6th in College Park, MD.</p>
        <p><a href="http://bitca.mp" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/bitcmp" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackpsu.png" width="146" length="146">
      <div class="caption">
        <h3>HackPSU</h3>
        <p>April 4th - April 6th in University Park, PA.</p>
        <p><a href="http://hackpsu.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/HackPSU" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackny.png" width="146" length="146">
      <div class="caption">
        <h3>HackNY</h3>
        <p>April 5th - April 6th in New York City.</p>
        <p><a href="https://www.hackerleague.org/hackathons/spring-2014-hackny-student-hackathon" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/HackNY" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Row Four -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/revolutionuc.jpg" width="146" length="146">
      <div class="caption">
        <h3>RevolutionUC</h3>
        <p>April 5th - April 6th in Cincinnati, OH.</p>
        <p><a href="http://revolutionuc.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/revolution_uc" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackillinois.png" width="146" length="146">
      <div class="caption">
        <h3>HackIllinois</h3>
        <p>April 11th - April 13th in Champaign, IL.</p>
        <p><a href="http://hackillinois.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/hackillinois" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/lahacks.png" width="146" length="146">
      <div class="caption">
        <h3>LA Hacks</h3>
        <p>April 11th - April 13th in Los Angeles.</p>
        <p><a href="http://lahacks.com/" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/LAHacks" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Row Five -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackru.jpg" width="146" length="146">
      <div class="caption">
        <h3>HackRU</h3>
        <p>April 12th - April 13th in New Brunswick, NJ.</p>
        <p><a href="http://hackru.org" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/theHackRU" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/emoryhackathon.jpg" width="146" length="146">
      <div class="caption">
        <h3>Emory Hackathon</h3>
        <p>April 12th - April 13th in Atlanta, GA.</p>
        <p><a href="http://emoryhackathon.org" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/vthacks.png" width="146" length="146">
      <div class="caption">
        <h3>VT Hacks</h3>
        <p>April 18th - April 20th in Blacksburg, VA.</p>
        <p><a href="http://vthacks.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/VT_Hacks" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Row Six -->
<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hshacks.jpeg" width="146" length="146">
      <div class="caption">
        <h3>HS Hacks</h3>
        <p>March 8th - March 9th in San Jose, CA.</p>
        <p><a href="http://hshacks.com/" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/highschoolhacks" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/hackbca.jpg" width="146" length="146">
      <div class="caption">
        <h3>HackBCA</h3>
        <p>March 22nd - March 23rd in Hackensack, NJ.</p>
        <p><a href="http://hackbca.com" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/hackbca" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/pilot.png" width="146" length="146">
      <div class="caption">
        <h3>D.C. Pilot</h3>
        <p>March 29th - March 30th in Chevy Chase, MD.</p>
        <p><a href="http://dc.gopilot.org" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/grabtheyoke" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/sohacks.png" width="146" length="146">
      <div class="caption">
        <h3>SOHacks</h3>
        <p>June 13th - June 15th in San Antonio, TX.</p>
        <p><a href="http://sohacks.com/" class="btn btn-primary" role="button">Website</a> <a href="http://twitter.com/sohacks" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>